spring:
  datasource:
    url: jdbc:h2:mem:getir
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
app:
  security:
    user:
      name: fatih
      password: aslan
      roles: admin
